{
  "env": {
    "server": {
      "presets": [
        "stage-0",
        "react",
        ["es2015", { "modules": "commonjs"}]
      ],
      "plugins": [
        "transform-class-properties",
        ["transform-runtime", {
          "polyfill": false, "regenerator": true
          }]
      ]
    },
    "client-dev": {
      "presets": [["es2015", { "modules": false }], "react", "stage-0"],
      "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-class-properties",
        ["transform-runtime", {
          "polyfill": false, "regenerator": true
          }]
      ]
    },
    "client-prod": {
      "presets": [["es2015", { "modules": false }], "react", "stage-0"],
      "plugins": [
        "transform-class-properties",
        "transform-decorators-legacy",
        ["transform-runtime", {
          "polyfill": false, "regenerator": true
          }]
      ]
    }
  }
}
