{
  "parser": "babel-eslint",
  "extends": ["boldr", "boldr/react"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "defaultParams": true
  },
  "rules": {
    "babel/arrow-parens": 0
  },
  "globals": {
    "__DEV__": false,
    "__DISABLE_SSR__": false
  }
}
