{
  "parser": "babel-eslint",
  "extends": ["boldr", "boldr/react"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "defaultParams": true
  },
  "rules": {

  }
}
