@import './reboot.css';

html {
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

body,
html{
  height:100%;
  width:100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout {
  min-height: 100vh;
  background-color: #F8F8F8;
}

:global .wrap {
  lost-center: 1170px;
}

:global li {
	list-style: none;
}

section {
  lost-utility: clearfix;
}
